body {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-size: 1.3vw;

    background-color: teal;
}

pre {
    font-weight: bolder;
    color: orange;
}

.srt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
}
